body 
{
    background-image: url(../images/external-content.duckduckgo.com.jpg);
    background-position: center;
    background-size: cover;
    margin:0px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
/*NAVIGATOR*/
#nav {
    background-color: tomato;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0.8;
}
#nav img {
    position: absolute;
    width: 30px;
    height: auto;
    left: 10px;
    top: 20px;

}
#nav ul {
    list-style: none;
    display: flex;
    margin-top: 0px ;
    margin-left: 400px;
}
#nav ul li {
    margin: 5px 15px;
    padding:0px 15px 0px 15px;
}
#nav ul li a {
    color: white;
    text-decoration: none;
}
#nav ul li a :hover , .active{
    transform:scale(1.1);
    background-color:rgb(214, 75, 51) ;
    border-radius: 5px;
 }
/*NAVIGATOR*/