body 
{
    margin:0px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
/*NAVIGATOR*/
#nav {
    background-color: tomato;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0.8;
}
#nav ul {
    list-style: none;
    display: flex;
    margin-top: 0px ;
    margin-left: 25%;
}
#nav ul li {
    margin: 5px 15px;
    padding:0px 15px 0px 15px;
}
#nav ul li a {
    color: white;
    text-decoration: none;
}
#nav ul li a :hover , .active{
    transform:scale(1.1);
    background-color:rgb(214, 75, 51) ;
    border-radius: 5px;
 }
/*NAVIGATOR*/
 /*TOP*/
 #top {
     margin-left: 65%;
     margin-top: 0px;
     background-color: tomato;
     opacity: 0.8;
     width: fit-content;
     height: fit-content;
     color: white;
     font-weight: bold;
     font-size: 50px;
     border-radius: 0px 30px 30px 30px;
 }

 /*TOP*/
 /*CONTENT*/
 .content {
     background-color: tomato;
     width: 900px;
     opacity: 0.8;
     font-size: 20px;
     margin-left: 20px;
     margin-top: 20px;
     padding: 20px;
     border-radius: 10px;
     color: white;
 }
 /*CONTENT*/
 /*FOOTER*/
 footer {
     width: 95%;
     margin: 20px 20px;
     background-color: tomato;
     opacity: 0.8;
     padding: 20px 20px 5px 20px;
     font-size: 20px;
     border-radius: 10px;
}
footer ul {
    list-style: none;
    display: inline-flex;
    margin-top: 10%;
    margin-left: 30%;
}
footer a {
    text-decoration: none;
    color: white;
}
footer ul li {
    margin: 0 10px;
}
footer li a:hover
 {
     text-decoration: underline;
 }
 /*FOOTER*/